html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}
body{
    font: 1.6rem ;
    font-family:'Open Sans' ,sans-serif;
    background-color: #fafafa;
    margin: 0;
    

}
h1,h2,h3,p,ul,li,fieldset{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    
}
a{
    text-decoration: none;
    color: #222;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
*{
    box-sizing: border-box;
}  

/*fin de reset*/

/*main*/

main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0, 0, 0, 0.5) 50%),url(../asset/arbre.jpg) no-repeat fixed center center/cover  ;
    height: 109vh;
}
nav{
    width: 120rem;
    height: 7.5rem;
    margin:auto;
}
.logo{
    color: #ff7200;
    font-size: 3.5rem;
    font-family: Arial;
    padding-left: 2rem;
    float: left;
    padding-top: 1rem;
}

main nav ul {

        display: flex;
        float: left;
        justify-content: center;
        cursor: pointer;
        align-items: center;
}
main nav ul li{
    margin-left:6.2rem ;
    margin-top: 2.7rem;
    font-size: 2rem;
}

main nav ul li a{
    font-weight: bold;
    transition: 0.4s ease-in-out;
    color: #fff;
}
main nav ul li a:hover{
    color: #ff7200;
}

.search{
    width: 33rem;
    float: right;
}

.srch{
    width: 20rem;
    height: 4rem;
    background: transparent;
    border: 0.1rem solid #ff7200;
    color: #fafafa;
    margin-top: 1.3rem;
    font-size: 1.6rem;
    float: left;
    padding: 1.0rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.btn{
    width: 10rem;
    height: 4rem;
    background: #ff7200;
    border: 0.2rem solid #ff7200;
    margin-top: 1.3rem;
    color: #fff;
    font-size: 1.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 120rem;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 2rem;
    padding-bottom: 2.5rem;
    font-family: Arial;
    letter-spacing: 0.12rem;
    line-height: 3rem;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 5rem;
    padding-left: 2rem;
    margin-top: 9%;
    letter-spacing: 0.2rem;
}

.content .cn{
    width: 16rem;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 6.5rem;
}

.form{
    width: 25rem;
    height: 42rem;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 50%);
    position: absolute;
    top: 6rem;
    left: 87rem;
    transform: translate(0%,-5%);
    border-radius: 1rem;
    padding: 2rem;
}

.form h2{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.form input:nth-child(1), .form input:nth-child(2){
    width: 20rem;
    height: 3.5rem;
    background: transparent;
    border-bottom: 0.1rem solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 20rem;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-top: 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
    color: #000;
    font-weight: bold;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.form .link{
    font-size: 1.7rem;
    padding-top: 2rem;
    text-align: center;
}
.up{
    color: #fff;
}

.liw{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.icons a{
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 2.5rem;
    padding-left: 1.4rem;
    padding-top: 0.5rem;
    transition: 0.3s ease;
    
}
.icons ion-icon:hover{
    color: #ff7200;
}

footer{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
footer{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0, 0, 0, 0.5) 50%),url(../asset/arbre.jpg) no-repeat fixed center center/cover  ;
    height: 10vh;
}


@media screen and (max-width: 90rem ){
  
    main{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0, 0, 0, 0.5) 50%),url(../asset/arbre.jpg) no-repeat fixed center center/cover  ;
        height: 109vh;
    }
    nav{
        width: 30rem;
    }
    .search{
        width: 33rem;
        float: right;
    }
    
    .srch{
        width: 16rem;
        margin-left: 4rem; 
    }
    .logo{
        color: #ff7200;
        font-size: 3rem;
       margin-left: 7rem;
    }
    
  
    main nav ul li{
        margin-left:0.5rem ;
        margin-top: 4.7rem;
        font-size: 1.5rem;
    }
    
    .content{
        width: 30rem;
        position: relative;
       
    }
    .content span{
        font-size: 3rem;
    }
    
    .content .par{
        padding-left: 2rem;
        padding-bottom: 2.5rem;
        letter-spacing: 0.12rem;
        line-height: 2rem;
    }
    .content h1{
     font-size: 3rem;
     padding-left: 2rem;
     margin-top: 50%;
     letter-spacing: 0.2rem;
    }
    
    .content .cn{
        width: 26rem;
        height: 4rem;
        margin-left: 1.5rem;
    }
    .form{
        width: 25rem;
        height: 42rem;
       position: absolute;
        top: 35rem;
        left: 2rem;
    }
    footer,body{
        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0, 0, 0, 0.5) 50%),url(../asset/arbre.jpg) no-repeat fixed center center/cover  ;
        height: 10vh;
    }
    footer{
        margin-top: 15rem;
        font-size: 1.5rem;
    }
    }
   

